<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "jp.co.jas_hadasi.simplemsg"
	version 	= "1.0.1">
	<!-- ↑の id はアプリ固有ID (自分の固有名 + プログラム名)
		 これの同じプログラムがあると、インストールするとき
		 上書きとなります -->

	<!-- アプリケーション表示名
		 Github や android 端末で表示される名称です
		 (試してないけど日本語も OK?) -->
	<name>FeelingNow</name>

	<!-- 説明文 -->
	<description>
		This is a sample config.xml for integration testing with SimpleMsg
	</description>

	<!-- なくても OK だけど、このプログラムのライセンス -->
	<license href="http://www.opensource.org/licenses/mit-license.php">
		The MIT License.
	</license>

	<!-- 作者 (ワタシ) の情報 ・・ いいかげんデス。(^o^ゞ -->
	<author href="http://hadasi.com"
		email="hadai@mail.com">
		Hadasi
	</author>

	<!-- これは用意したいですネ ・・ アイコンでしょう -->
	<icon src="Img/icon.png" height="150" width="200" />

	<!-- これは無くてもよいようですネ ・・ 起動時の画像と思われます -->
	<gap:splash src="mainsplash.png" height="480" width="360" />

	<!-- 「preference = 優先権」なんだろかぁ -->
	<preference name="universal" value="true"/>
	<preference name="phonegap-version" value="1.3.0"/>

	<!-- 使用する phonegap の API でしょう
		 (インストールするとき、このアプリが
		 何を参照するかユーザーに知らせます) -->
	<feature name="http://api.phonegap.com/1.0/geolocation" required="true"/>
	<feature name="http://api.phonegap.com/1.0/camera" required="true"/>
	<feature name="http://api.phonegap.com/1.0/notification" required="true"/>

	<!-- 無くてもよさげだけど ・・ なんだろぅ
  		 <access origin="http://127.0.0.1*"/>
  		 <access origin="http://devgeeks.org"/>
  		 <access origin="http://*.phonegap.com"/>
		 こんな感じで、何ヶ所も指定して OK のようです。
	-->
	<access origin="*" />
</widget>
